<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/media/css/style.css">
  </head>
  <body>
    {% include 'videos/navigation.html' %}
    <div class="container">
        <div class="banner">
            <img src="/media/images/banner.jpg" >
        </div>

        <div class="list-container ">
          {% for object in object_list %}
            <div class="vid-list">
              <a href="{% url 'video-detail' object.pk %}" ><img src="/media/{{ object.thumbnail }}" width="256" height="144" class="thumbnail"></a>
              <div class="flex-div">
                <div class="vid-info">
                  <a href="{% url 'video-detail' object.pk %}">{{ object.title }}</a>
                  <p >{{ object.uploader }}</p>
                  <p >{{ object.date_post | date:"M d, Y" }}</p>
                </div>
              </div>
            </div>  
          {% endfor %} 

        </div>

        

        {% comment %} <div class="list-container">
          {% for object in object_list %}
            <div class="vid-list">
              <a href="{% url 'video-detail' object.pk %}">
                <img src="/media/{{ object.thumbnail }}" width="256" height="144" class="thumbnail">
              </a>
              <div class="vid-info">
                <a href="{% url 'video-detail' object.pk %}">{{ object.title }}</a>
                <p>{{ object.uploader }}</p>
                <p>{{ object.date_post | date:"M d, Y" }}</p>
              </div>
            </div>
          {% endfor %}
        </div> {% endcomment %}
    </div>

    

  </body>
</html>